version: '3.9'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: online_store
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  auth-service:
    build:
      context: .                   # ⬅ теперь контекст — корень
      dockerfile: auth-service/Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - postgres

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - auth-service

  payment-service:
    build:
      context: .
      dockerfile: payment-service/Dockerfile
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - auth-service

  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8084:8084"
    depends_on:
      - postgres
      - auth-service
